* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.form_input {
    text-align: center;
    width: 50%;
    margin:0 25% 0 25%;
}

.form_input-products {
    width: 100%;
    text-align: center;
}
td,p,input{
    font-size: 25px;
}
input{
    width:100%
}
button{
    text-align: center;
}